*{
    margin: 0px;
    padding: 0px;
    box-sizing: border-box;
}
:root{
    --header: #121212;
    --bgiphone: #F5F5F7;    
    --bgvrbox: #F5F5F7;
    --bgcard: #FAFAFA;
}
body{
    max-width: 2340px;
    margin: auto;
}
a{
    text-decoration: none;
    text-wrap: nowrap;
}
ul{
    list-style: none;
}
div{
    display: flex;
}
header{
    height: 50px;
    background-color: var(--header);
    position: sticky;
}
header > nav > div > a{
    color: white;
}
header .navbar a{
    font-size: 12px;
    color: white;
    opacity: 0.5;
    transition: all 0.3s ease;
}
header .navbar a:hover{
    opacity: 0.8;
}
header .offcanvas a{
    font-size: xx-large;
    color: white;
}

.album1{
    background-size: cover;
    background-repeat: no-repeat;
    min-height: 650px;
    background-position: center center;
    margin-bottom: 10px;
}
.picture1{
    background-image: url(./images/applel.jpg);
    background-position: bottom center;
}
.picture2{
    background-image: url(./images/iphonecamera.jpg);
}
.picture3{
    background-image: url(./images/vrbox.jpg);
}
.album2{
    background-size: cover;
    background-repeat: no-repeat;
    min-height: 500px;
    background-position: center center;
    margin-bottom: 10px;
}
.picture4{
    background-image: url(./images/watches.jpg);
    
}
.picture5{
    background-image: url(./images/macs.jpg);
 
}
.picture6{
    background-image: url(./images/ipads.jpeg); 
    background-size: 300px!important;
    background-position: center bottom
}
.picture7{
    background-image: url(./images/airbuds.jpg);
}
.picture8{
    background-image: url(./images/card.jpeg);
    background-size: 550px!important;
    background-position: center bottom;
}
.picture9{
    background-image: url(./images/exch.jpg);
}

h6{
    max-width: 250px ;
}

.heading *{
    text-align: center;
}

.container1 h1{
    font-size: xx-large;
}

.messages p{
    font-size: 14px;
    color: gray;
    line-height: 17px;
    text-align: justify;
}

.listing-large a, .listing-small a{
    color: gray;
}










@media (max-width: 575.98px) {
    
    .album1{
        min-height: 350px;
    }
    .album2{
        min-height: 350px;
    }
    .picture1{
        background-image: url(./images/applep.jpg);
    }
    .picture2{
        background-image: url(./images/picture2s.jpg);
    }
    .picture5{
        background-image: url(./images/macs.jpg);
    }
    footer p, span{
        font-size: smaller;
    }

}

@media (max-width: 767.98px) {
    .album1{
        min-height: 450px;
    }
    .album2{
        min-height: 450px;

    }
    
    .picture2{
        background-image: url(./images/picture2s.jpg);
    }
    .picture5{
        background-image: url(./images/machalf.jpg);
    }
    .picture6{
        background-size: 300px!important;
    }
    .picture8{
        background-size: 300px!important;
    }
    footer p, span{
        font-size: small;
    }
}

@media (max-width: 991.98px) {
    .picture1{
        background-image: url(./images/applel.jpg);
    }
    .album1{
        min-height: 450px;
    }
    .album2{
        min-height: 450px;
    }
    .picture5{
    background-image: url(./images/machalf.jpg);
    }
    .picture6{
        background-size: 350px!important;
    }
    .picture8{
        background-size: 350px!important;
    }
    footer p, span{
        font-size: medium;
    }
}

@media (max-width: 1199.98px) {
    .picture1{
        background-image: url(./images/applel.jpg);
    }

}

@media (max-width: 1399.98px) {

}
@media (min-width: 1400px) {
    
}















.bgsalmon{
    background-color: salmon;
}
.bgaqua{
    background-color: aqua;
}
.bgseagreen{
    background-color: seagreen;
}
.bggreen{
    background-color: green;
}
.bgyellow{
    background-color: yellow;
}
.bgiphone{
    background-color: var(--bgiphone);
}
.bgvrbox{
    background-color: var(--bgvrbox);
}
.bgcard{
    background-color: var(--bgcard);
}